:root {
  --bg-color: #f1f5f9;
  --text-color: #1c1c1c;
  --mobile-breakpoint: 636px;
}

html {
  background-color: var(--bg-color);
  font-family: sans-serif;
}

html.dark {
  background-color: #18181b;
  color: #e4e4e7;
  --bg-color: #18181b;
  --text-color: #e4e4e7;
}

.dark .nav-links a {
  color: #e4e4e7;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;
}

/* Blog grid styles */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}
