---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sobre mí">
  <p>
    Hola, soy Ramiro, un amante de los libros, la ciencia ficción y la
    naturaleza. Me dedico a ser desarrollador de software y soy ingeniero. Este
    es mi pequeño rincón digital, donde voy dejando un registro de mis
    experimentos, descubrimientos y reflexiones.
  </p>

  <p>
    En Bitácora encontrarás trozos de mi día a día como desarrollador, desde
    desafíos técnicos hasta curiosidades o rejuntes de posts interesantes.
    También me gusta hablar de mis viajes y libros que me han marcado o
    reflexiones derivadas de ellos.
  </p>

  <p>
    "No tienes que quemar libros para destruir una cultura. Sólo hace falta que
    la gente deje de leerlos."
  </p>

  <p>
    Este blog es como un diario en el que cada página cuenta algo nuevo. Si
    alguna de mis ideas te resuena o te genera curiosidad, no dudes en comentar
    o ponerte en contacto.
  </p>

  <p>
    Bienvenido a Bitácora, "Lo importante no es mantenerse vivo, sino mantenerse
    humano."
  </p>
</BaseLayout>
