---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("blog");
---

<BaseLayout>
  <div class="posts-grid">
    {
      posts.map((post) => (
        <BlogPost
          title={post.data.title}
          url={`/posts/${post.id}`}
          img={post.data.image.url}
        />
      ))
    }
  </div>
</BaseLayout>
