---
import Tag from "./Tag.astro";

type Props = {
  tags: string[];
  className?: string;
};

const { tags, className = "" } = Astro.props;
---

<div class:list={["tags", className]}>
  {tags.map((tag) => <Tag tag={tag} />)}
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
  }

  /* If used in a header or other special location */
  .tags.header {
    margin: 0;
    justify-content: center;
  }

  /* If used in a blog post */
  .tags.post {
    margin-top: 2rem;
  }

  @media (max-width: 636px) {
    .tags {
      justify-content: center;
    }
  }
</style>
