---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { capitalizeFirstLetter } from "../utils/text";

const title = import.meta.env.PUBLIC_BLOG_TITLE;
const author = import.meta.env.PUBLIC_BLOG_AUTHOR;

const { title: pageTitle } = Astro.props;

const sectionTitle = pageTitle ? capitalizeFirstLetter(pageTitle) : title;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {pageTitle ? capitalizeFirstLetter(pageTitle) : `${title} | ${author}`}
    </title>
  </head>
  <body>
    <Header />

    <h2>{sectionTitle}</h2>

    <slot />

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
